html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#spatial-view {
    position: relative;
    /* border: 1px solid red; */
    height: 65vh; /* Adjust if necessary to account for toolbar height */
    overflow-y: scroll;
    flex-grow: 1;
    padding-top: 100px; /* Add padding to top to prevent toolbar overlap */
}

#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    height:90px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 100; /* Ensure it floats above other content, adjust if necessary */
}

#toolbar .toggle {
    margin-bottom: 10px;
}

#toolbar .toggle:last-child {
    margin-bottom: 0;
}

#toolbar input[type="checkbox"] {
    margin-right: 5px;
}
#slider-container {
    display: flex; /* Aligns the slider and playPauseButton horizontally */
    align-items: center; /* Centers items vertically */
    width: 100%; 
}
#slider-container input[type=range] {
    flex-grow: 1; /* Allows the slider to fill the available space */
    margin: 0 10px; /* Adds space around the slider */
    /* border: 1px solid red; */
}
#playPauseButton {
    flex:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px; /* Adjust space between the button and the slider */
    order: -1;
}

#playPauseButton svg {
    width: 24px; 
    height: 24px; 
    flex-shrink: 0; /* Prevents icon from resizing */
}
#timeDisplay {
    padding: 5px 10px; /* Padding around the time display */
    order: 1;
}
#temporal-view {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
}

 #interaction-plot-container, #speech-plot-container {
    /* border: 1px solid red; */
    width: 100%;
    /* min-height: 20px; or whatever height is appropriate for your content */
    height:100px;
    /* height:10px; */
    margin-bottom: 10px;
}
#shared-axis-container{
    /* border: 1px solid red; */
    min-height: 20px; 
}

