html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
*, *::before, *::after {
    box-sizing: border-box;
  }
#top-toolbar {
    background-color: #f9f9f9; /* Change as per your color theme */
    padding: 10px 20px; /* Padding around the toolbar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    position: fixed; /* Fixed at the top */
    width: 100%; /* Full width */
    /* z-index: 1000; Ensure it's above all other content */
    box-sizing: border-box; /* Include padding in width calculation */
}

#top-toolbar ul {
    list-style: none; /* Remove default list styling */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Arrange items in a row */
    justify-content: flex-start; /* Align items to the start */
}

#top-toolbar li {
    margin-right: 20px; /* Space between items */
}

#top-toolbar a {
    text-decoration: none; /* No underline */
    color: #333; /* Text color */
    /* font-weight: bold; */
    transition: color 0.3s; /* Transition for hover effect */
}

#top-toolbar a:hover {
    color: #898e93; /* Color change on hover */
}


#right-pane {
    position: fixed;
    /* top: 2%; */
    top: 0 ; 
    right: 0;
    width: 25%; 
    height: 62vh; 
    background-color: #f9f9f9;
    z-index: 100;
    /* overflow-y: auto; Allows scrolling for overflow content */
    box-shadow: 2px 0 4px rgba(0,0,0,0.2);
    padding-bottom: 20px; /* Provide some padding at the bottom */
}

#spatial-view {
    position: relative;
    margin-left: 10%; 
    margin-right: 25%;
    width: 65%;
    height: 65vh; /* Adjust if necessary to account for toolbar height */
    overflow-y: scroll;
    flex-grow: 1;
    /* padding-top: 100px; Add padding to top to prevent toolbar overlap */
}


#left-pane {
    position: fixed;
    top: 2%;
    left: 0;
    width: 10%; /* Set the width for the left pane */
    height: 62vh; /* Match the height of the spatial-view */
    /* background-color: #f9f9f9; */
    z-index: 100;
    overflow-y: auto; /* Allows scrolling for overflow content */
    padding-bottom: 20px;
}
#right-pane {
    display: flex;
    flex-direction: column;
}

.plot-box {
    flex: 1;
    width: 100%;
    /* border: 1px solid red;  */
    /* margin-bottom: 10px; Optional: Add spacing between plot boxes */
}

.toolbar {
    position: absolute;
    width: 100%; 
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    z-index: 101; 
    font-size: 0.9em;
    margin-bottom: 10px; 
    margin-left: 0;
}



#obj-toolbar {
    position: absolute;
    top: 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    /* z-index: 101;  */
    /* Slightly higher to ensure it stacks on top if overlapping */
    list-style-type: none; /* Removes default list styling */
    padding-left: 0;
    margin-left: 0;
}
#obj-toolbar ul {
    list-style-type: none; /* Ensures sub-lists also have no bullet points */
    padding-left: 0; /* Start with no padding for the base list */
    margin-left: 0; /* Ensures list starts flush with the toolbar's edge */
}

#obj-toolbar li {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
#obj-toolbar li ul {
    padding-left: 10px; 
}

#obj-toolbar input[type="checkbox"]  {
    margin-left: 0px; 
    /* Space between checkbox and label */
    vertical-align: middle;
}
#obj-toolbar label {
    margin-left: 0px; /* Adjust this value to decrease or increase the space */
}


#toolbar {
    position: absolute;
    bottom:0;
    /* top: 30%;  */
    /* Adjust this value based on the actual height of #obj-toolbar */
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    /* z-index: 102;  */
    /* Ensuring this toolbar is above #obj-toolbar */
    margin-left: 0;
}

#user-toolbar {
    position: absolute;
    /* top: calc(30% + 90px);  */
    /* Start this toolbar right after #toolbar */
    /* width: 100%; This toolbar also matches the width of the left-pane */
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    /* z-index: 103; */
     /* Highest to ensure it's on top of the stack */
    margin-left: 0;
}

#toolbar .toggle {
    margin-bottom: 10px;
}

#toolbar .toggle:last-child {
    margin-bottom: 0;
}

#toolbar input[type="checkbox"] {
    margin-right: 5px;
}
#visualization-container {
    display: flex;
    justify-content: flex-end; /* Aligns children to the right */
    /* padding-right: 100px; Adjust based on your toolbar width to avoid overlap */
    /* margin-top: 20px; Or adjust as needed */
}

#slider-container {
    display: flex; /* Aligns the slider and playPauseButton horizontally */
    align-items: center; /* Centers items vertically */
    width: 100%; 
}
#slider-container input[type=range] {
    flex-grow: 1; 
    margin: 0 10px; 
}
#playPauseButton {
    flex:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px; /* Adjust space between the button and the slider */
    order: -1;
}

#playPauseButton svg {
    width: 24px; 
    height: 24px; 
    flex-shrink: 0; /* Prevents icon from resizing */
}


/* #timeDisplay { */
    /* padding: 5px 10px; Padding around the time display */
    /* order: 1; */
    /* position: absolute; 
    right: 0;
} */
#timeDisplay {
    position: absolute; /* Position it absolutely within #temporal-view */
    top: 0; /* Adjust this value to align with the top of the shared-axis-container, if needed */
    right: 0; /* Align it to the right edge of #temporal-view */
    padding: 5px 10px; /* Existing styles */
    z-index: 2; /* Ensure it's above the shared-axis-container */
}
#temporal-view {
    /* display: flex; */
    height: 35vh;
    position: relative;
    flex-direction: column;
    /* justify-content: start; */
    align-items: center;
    /* width: 100%; */
}

#time-indicator-line, #time-indicator-circle {
    pointer-events: auto; /* Ensure line and circle can be interacted with */
  }
#shared-axis-container{
    min-height: 20px; 
}
#bin-selection-container {
    padding: 20px;
    position: absolute; /* Makes the positioning relative to #temporal-view */
    top: 35px; /* Distance from the top of #temporal-view */
    right: 0px; /* Distance from the right, adjust based on your layout preference */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em; 
    z-index: 101;
}
  #bin-selection-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
  }
  
  #binsDropdown {
    padding: 10px;
    background-color: #e0e0e0;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #binsDropdown:focus {
    outline: none;
    background-color: #bdbdbd;
  }
  
  #binsDropdown option {
    padding: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
  }
  
  #binsDropdown option:hover {
    background-color: #eeeeee;
  }
  
  #binsDropdown option:checked {
    background-color: #90caf9;
  }
