html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#right-pane {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%; /* Set the width for the left pane */
    height: 60vh; /* Match the height of the spatial-view */
    background-color: #f9f9f9;
    z-index: 100;
    overflow-y: auto; /* Allows scrolling for overflow content */
    box-shadow: 2px 0 4px rgba(0,0,0,0.2);
    padding-bottom: 20px; /* Provide some padding at the bottom */
}

#spatial-view {
    position: relative;
    /* border: 1px solid red; */
    margin-left: 10%; /* Adjust based on the width of #obj-toolbar */
    margin-right: 15%; /* Adjust based on the width of #user-toolbar */
    height: 65vh; /* Adjust if necessary to account for toolbar height */
    overflow-y: scroll;
    flex-grow: 1;
    padding-top: 100px; /* Add padding to top to prevent toolbar overlap */
}


#left-pane {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%; /* Set the width for the left pane */
    height: 60vh; /* Match the height of the spatial-view */
    /* background-color: #f9f9f9; */
    z-index: 100;
    overflow-y: auto; /* Allows scrolling for overflow content */
    padding-bottom: 20px;
}
#right-pane {
    display: flex;
    flex-direction: column;
}

.plot-box {
    flex: 1;
    width: 100%;
    /* border: 1px solid red;  */
    /* margin-bottom: 10px; Optional: Add spacing between plot boxes */
}

.toolbar {
    position: absolute;
    width: 100%; /* This should now work correctly */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    z-index: 101; 
    /* Adjust if necessary for stacking */
    font-size: 0.9em;
    margin-bottom: 10px; 
    margin-left: 0;
}

#obj-toolbar {
    position: absolute;
    top: 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    /* z-index: 101;  */
    /* Slightly higher to ensure it stacks on top if overlapping */
    list-style-type: none; /* Removes default list styling */
    padding-left: 0;
    margin-left: 0;
}
#obj-toolbar ul {
    list-style-type: none; /* Ensures sub-lists also have no bullet points */
    padding-left: 0; /* Start with no padding for the base list */
    margin-left: 0; /* Ensures list starts flush with the toolbar's edge */
}

#obj-toolbar li {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
#obj-toolbar li ul {
    padding-left: 10px; 
}

#obj-toolbar input[type="checkbox"]  {
    margin-left: 0px; 
    /* Space between checkbox and label */
    vertical-align: middle;
}
#obj-toolbar label {
    margin-left: 0px; /* Adjust this value to decrease or increase the space */
}


#toolbar {
    position: absolute;
    bottom:0;
    /* top: 30%;  */
    /* Adjust this value based on the actual height of #obj-toolbar */
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    /* z-index: 102;  */
    /* Ensuring this toolbar is above #obj-toolbar */
    margin-left: 0;
}

#user-toolbar {
    position: absolute;
    /* top: calc(30% + 90px);  */
    /* Start this toolbar right after #toolbar */
    /* width: 100%; This toolbar also matches the width of the left-pane */
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    /* z-index: 103; */
     /* Highest to ensure it's on top of the stack */
    margin-left: 0;
}

#toolbar .toggle {
    margin-bottom: 10px;
}

#toolbar .toggle:last-child {
    margin-bottom: 0;
}

#toolbar input[type="checkbox"] {
    margin-right: 5px;
}
#visualization-container {
    display: flex;
    justify-content: flex-end; /* Aligns children to the right */
    /* padding-right: 100px; Adjust based on your toolbar width to avoid overlap */
    /* margin-top: 20px; Or adjust as needed */
}

#plots-container {
    width: calc(100% - 100px); /* Adjust based on your toolbar width */
}

#info-vis-plot1-container, #info-vis-plot2-container {
    border: 1px solid #ccc; /* Adds a border around each plot container */
    padding: 10px; /* Adds padding inside the containers */
    margin-bottom: 20px; /* Adds space between the containers */
}

#info-vis-plot1, #info-vis-plot2 {
    /* width: 100%;  */
    /* Ensures the SVGs fill the container */
    min-height: 200px; /* Gives a minimum height to the SVGs */
    background-color: #f0f0f0; /* Gives a background color to easily differentiate the plots */
}

#slider-container {
    display: flex; /* Aligns the slider and playPauseButton horizontally */
    align-items: center; /* Centers items vertically */
    width: 100%; 
}
#slider-container input[type=range] {
    flex-grow: 1; /* Allows the slider to fill the available space */
    margin: 0 10px; /* Adds space around the slider */
    /* border: 1px solid red; */
}
#playPauseButton {
    flex:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px; /* Adjust space between the button and the slider */
    order: -1;
}

#playPauseButton svg {
    width: 24px; 
    height: 24px; 
    flex-shrink: 0; /* Prevents icon from resizing */
}
#timeDisplay {
    padding: 5px 10px; /* Padding around the time display */
    order: 1;
    position: absolute; 
    right: 0;
    /* top: -10; */
}
#temporal-view {
    /* display: flex; */
    height: 35vh;
    position: relative;
    flex-direction: column;
    /* justify-content: start; */
    align-items: center;
    /* width: 100%; */
}
#time-indicator-line, #time-indicator-circle {
    pointer-events: auto; /* Ensure line and circle can be interacted with */
  }
  
#shared-axis-container{
    min-height: 20px; 
}

#bin-selection-container {
    position: absolute; /* Makes the positioning relative to #temporal-view */
    top: 35px; /* Distance from the top of #temporal-view */
    right: 10px; /* Distance from the right, adjust based on your layout preference */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em; 
    background-color: #f9f9f9; /* Optional: adds a background color */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    z-index: 101; /* Ensures it's above other elements, adjust as necessary */
}

/* #binsDropdown {
    padding: 5px;
    margin-top: 5px;
    font-size: 0.8em; 
} */

/* #interaction-plot-container, #speech-plot-container { */
    /* border: 1px solid red; */
    /* width: 100%; */
    /* min-height: 20px; or whatever height is appropriate for your content */
    /* height:100px; */
    /* height:10px; */
    /* margin-bottom: 10px; */
/* } */